@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: "Shantell Sans";
    background-color: #ffa408;
  }
  
  .center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .logo {
    user-select: none;
  }
  
  button {
    padding: 35px;
    background-color: #cc8306;
    color: white;
    border-radius: 20px;
  }
  
  
  
  
  
  .button-settings {
    width: 100px;
    background-color: #cc8306;
    text-align: center;
    padding: 40px 0;
    color: white;
    border-radius: 20px;
  }
  
  .right-bottom {
    position: absolute;
    top: 74%;
    left: 94%;
  }
  
  .user-stats {
    padding: 20px;
    background-color: #cc8306;
    border-radius: 20px;
  }
  
  .right-top {
    padding: 5px;
    margin-left: 85%;
  }

  
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }